.main-content {
  padding: 16px;
  padding-top: 80px;
  /* en vez de margin-top */

  height: 100vh;
  box-sizing: border-box;
  overflow-y: auto;
  /* si hay mucho contenido, scroll solo aqu칤 */
}




.toolbar {
  display: flex;
  justify-content: space-between;
  /* separa izquierda y derecha */
  align-items: center;

  .fab-add {
    margin-bottom: 20px;
    background-color: #005cbb;
    /* tu color personalizado */
    color: #d7e3ff;
    /* icono en blanco */
    border: none;
    /* sin borde */
    border-radius: 5px;
    /* completamente redondo */
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }

  .fab-add:hover {
    background-color: #004494;
    /* un tono m치s oscuro al hover */
  }


}


.table-container {
  max-height: 400px;
  /* 游녣 ajusta la altura m치xima */
  overflow-y: auto;
  /* 游녣 solo hace scroll el contenido */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}


table {
  width: 100%;

}

mat-paginator {

  bottom: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

}

.fab-delete {
  margin: 1px;
  color: aliceblue;
  border: none;
  border-radius: 5px;
  background-color: #940000;
 transition:  0.5s ;
}

.fab-visibility {
  margin: 1px;
  color: aliceblue;
  border: none;
  border-radius: 5px;
  background-color: #004494;
  transition:  0.5s ;
}

.fab-visibility:hover {
  color: #004494;
  background-color: aliceblue;
}

.fab-delete:hover {
  color: #940000;
  background-color: aliceblue;
}


/* Desktop styles - pantalla grande */
@media (min-width: 1024px) {
  .table-container{
    max-width: 900px; /* M치s angosto en desktop */
    margin: 0 auto; /* Centrar la tarjeta */
  }
}

/* Large desktop styles */
@media (min-width: 1440px) {
  .table-container {
    max-width: 1000px; /* Un poco m치s ancho en pantallas muy grandes */
    margin: 0 auto; /* Centrar la tarjeta */
  }
}
