.login-controler {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
     background-color: #f7f9fc;

}

.login-card {
  width: 360px;
  padding: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  text-align: center;
  background-color: white;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}



button {
    width: 200px;
    color: white !important;
    background-color: #c40b0b;
}